* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: calc(8px + 0.4vh + 0.4vw);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    min-height: 100vh;

}

.header {
    background-color: rgb(228, 66, 50);
    padding: 0.5rem;
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
}

.main {
    display: grid;
    grid-template-columns: minmax(calc(150px + 5vw), max-content) 1fr;
    min-height: 100vh;
}

.sidebar {
    background-color: rgb(245, 245, 245);
    padding: 3.5rem 1.5rem 1.5rem;
}

.sidebar li {
    cursor: pointer;
}

.sub::before {
    content: "・";
}

.addProject {
    color: grey;
}

.addProjectInput {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
}

.today {
    margin-top: 1rem;
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.content {
    padding: 3.5rem 3rem 2rem;

    display: grid;
    grid-template-rows: auto 1fr;
}

.projectTitle {
    padding: 1rem;
    font-size: 1.6rem;
}

.todoItems {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todoItem .wrapper, .todoItem form {
    border-bottom: solid 0.1rem lightgrey;
    padding: 0 0 0.2rem 1rem;

    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
    gap: 1rem;
}

.details {
    padding: 0.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.left {
    display: grid;
    grid-template-rows: auto;
    gap: 0.2rem;
    align-self: center;
}

.title {
    font-size: 1rem;
    color: black;
}

.important .title {
    font-weight: bold;
}

.important .title::after {
    content: " *";
    font-weight: bold;
}

.description {
    font-size: 0.9rem;
    color: grey;
}

.dueDate {
    font-size: 0.9rem;
    color: rgb(0, 155, 0);
    padding: 0.1rem 0;
}

.past {
    color: rgb(228, 66, 50);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.operationButtons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.project {
    font-size: 0.9rem;
    color: grey;
    padding-top: 0.5rem;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.project.input {
    padding: 0.1rem;
}

.button, input[type=submit] {
    cursor: pointer;
    border: none;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    color: grey;
}

.complete {
    font-size: 2rem;
    padding: 0;
}

.complete::before {
    content: "○";
}

.completed, .completed .title, .completed .description, .completed .dueDate, .completed .project {
    color: lightgrey;
    border-color: lightgrey;
}

.completed .complete::before {
    content: "●";
}

.otherDetails {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}